        <div class="head" name="title">
             {{{title}}}
        </div>

        <div class="body"> 
            <div class="conteiner" name = "text">
                {{{text}}}
            </div>
          <!--  <hr class="hr">
            <div class="posts" name = "post">
                {{{post}}}
            </div>
            
            {{{posts}}}
           -->
           <div class="lesf-bar">
                <ol>
                    <li><a href="/">Main menu</a></li>
                    {{{link}}}
                </ol>
            </div>
        </div>
        <footer class="footer">
            <h3>Footer description:</h3>
            <P>This blog created for test end learn js</P>
        </footer>