<html>
    <head>
    <title>█▄•◘•▄█</title>
    <meta charset="utf-8"\>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
.footer {
    background-color:teal;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    margin: 0;   
    position:fixed;
}
.head {
    background-color:rgb(153, 223, 153);
    text-align: center;
}
.lesf-bar {
    background-color:rgb(141, 175, 221);
    top: 3em;
    width: 10em; 
    position: fixed;
}
.lesf-bar a{
    text-decoration: none;
}
.body {
    margin-top: 1em;
    margin-bottom: 8em;
    left: 0;
    right: 0;
}
.conteiner {
    margin-left: 12em;
    min-height: 10em;
    padding: 1em;
    background-color:rgb(199, 142, 253);
}
.hr {
    margin-left: 12em;
}
body{
    background-color: blanchedalmond; 
}
    </style>

</head>
    <body>
        <div class="head" name="title">
             {{{title}}}
        </div>

        <div class="body"> 
            <div class="conteiner" name = "text">
                {{{text}}}
            </div>
            <hr class="hr">
            <span name="id" style="opacity: 0;">{{{id}}}</span>
            <div class="conteiner">
                <form>
                    <div>
                        <label for="title">Title:</label>
                        <input style="width: 100%" name = "title" value="{{{title}}}"/>
                    </div>
                    <div>
                        <label for="text">Content:</label>
                        <textarea style="width: 100%; min-height: 5em;" name="text">{{{text}}}</textarea>
                    </div>
                    <div>
                        <button type="submit" onclick="myFunctionSave()">Save</button>
                        <button type="submit" onclick="myFunctionAdd()">Add</button>
                        <button type="submit" onclick="myFunctionReset()">Reset</button>
                        <button type="submit" onclick="myFunctionDelete()"><a href="/blog" style="text-decoration: none;color:black">Delete</a></button>
                    </div>
                </form>
            </div>
            <div class="lesf-bar">
                <ol>
                    <li><a href="http://localhost:3333/blog">Main menu</a></li>
                    <li><a href="http://localhost:3333/blog/0">Page 1</a></li>
                    <li><a href="http://localhost:3333/blog/1">Page 2</a></li>
                    <li><a href="http://localhost:3333/blog/2">Page 3</a></li>
                </ol>
            </div>
        </div>
        <footer class="footer">
            <h3>Footer description:</h3>
            <P>This blog created for test end learn js</P>
        </footer>
        <script>
            
            

// Добавление блога
function CreatePage(title, text, id) {
    let url ='http://localhost:3333/blog/';
    fetch(url+id, {
        contentType: "application/json",
        method: "POST",
        body: JSON.stringify({
            title: title,
            text: text
        }),
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(response => {
    console.log(response);
    });
}
// Изменение блога
function EditPage(title, text, id) {
    let url ='http://localhost:3333/blog/';
    fetch(url+id, {
        contentType: "application/json",
        method: "PUT",
        body: JSON.stringify({
            title: title,
            text: text
        }),
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(response => {
    console.log(response);
    });
}

// del page
function DeletePage(id) {
    let url ='http://localhost:3333/blog/';
    fetch(url+id, {
        method: 'DELETE',
    }).then(response => {
    console.log(response);
    });
 }

function myFunctionSave() {
	var titleInput = document.getElementsByName("title");
	var textTexterea = document.getElementsByName("text");
    var idSpan = document.getElementsByName("id");
	var titles = titleInput[1].value;
	var texts = textTexterea[1].value;
    var ids = idSpan[0].innerText;
    EditPage(titles, texts, ids);
}
function myFunctionAdd() {
	var titleInput = document.getElementsByName("title");
	var textTexterea = document.getElementsByName("text");
    var idSpan = document.getElementsByName("id");
	var titles = titleInput[1].value;
	var texts = textTexterea[1].value;
    var ids = idSpan[0].innerText;
    CreatePage(titles, texts, ids);
}
function myFunctionReset() {
    let form = document.forms;
    form.reset();
}
function myFunctionDelete() {
    var id =id;
    DeletePage(id);
}

        </script>
    </body>
</html>