<div class="head" name="title">
    <div class="head-overlay">
        <div class="head-text">   {{{title}}} </div>
    </div>
</div>

<div class="body"> 
    <span name="id" style="position:absolute; opacity: 0;">{{{id}}}</span>
    <div class="conteiner">
        <form class="form">
            <div>
                <!--<label for="title">Title:</label>-->
                <input style="width: 100%" name = "title" placeholder="title" value="{{{title}}}"/>
            </div>
            <div>
                <!--<label for="text">Content:</label>-->
                <textarea style="width: 100%; min-height: 5em;" placeholder="description" name="text">{{{text}}}</textarea>
            </div>
            <div class="button-form">
                <button type="button" onclick="myFunctionSave()">Save</span></button>
                <button type="button" onclick="myFunctionAdd()">Add</button>
                <button type="button" onclick="myFunctionReset()">Reset</button>
                <button type="button" onclick="myFunctionDelete()">Delete</button>
            </div>
        </form>
    </div>
    <div class="lesf-bar">
        <ol>
            <li><a href="/">Main menu</a></li>
            {{{link}}}
        <!--
            <li><a onclick="myFunctionSave()">Save</a></li>
            <li><a onclick="myFunctionDelete()">Delete</a></li>
            <li><a onclick="myFunctionAdd()">myFunctionAdd</a></li>
        -->
        </ol>
    </div>
</div>
<footer class="footer">
    <h3>Footer description:</h3>
    <P>This blog created for test end learn js</P>
</footer>